@import "tailwindcss";

/* CSS custom của bạn */
@layer components {
  .btn-primary {
    background: hotpink;
    padding: 12px 20px;
    border-radius: 12px;
    color: white;
    font-weight: bold;
  }
}
